.insight-card{
    text-align: center;
    position: relative;
    margin:2%;
    width: 30%;
  }
  .min{
    position: absolute;
    left: 0px;
    bottom: 0%;
    color: red;
    font-weight: 400;
  }
  .min_val{
    bottom: 0%;
  }
  
  .max{
    position: absolute;
    right: 0px;
    bottom: 0%;
    color: green;
    font-weight: 400;
  }
  .insight-text{
    margin-top: -5%;
  }

  @media (max-width:1025px) { 
    .insight-card{
       width: 70%;
    }
    .insight-text{
      margin-top: -15%;
    }
    
}

