.card {
  margin:4px;
  
  .product {
    background: rgb(235, 235, 237);
    display: flex;
    justify-self: start;
    padding: auto;
    cursor: pointer;

    .description {
      font-size: 15px;
      font-weight: bold;
    }
  }


  .product-info {
    display: flex;
    flex-direction: column;


    .details {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;

      .detail {
        display: flex;
        flex-direction: column;
        margin-right: 16px;

        .label {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 8px;
        }
      }
    }
  }
}
