.insight-card{
    width: 30%;
    text-align: center;
    position: relative;
  }
  .min{
    position: absolute;
    left: 0px;
    bottom: 0%;
    color: red;
    font-weight: 400;
  }
  .min_val{
    bottom: 0%;
  }
  
  .max{
    position: absolute;
    right: 0px;
    bottom: 0%;
    color: green;
    font-weight: 400;
  }
  