*{
  margin: 0;
  padding:0;
}

ul{
  margin-top:10px;
  list-style-type: none;
}
.card-body{
  border:solid 1px;
  width: 12%;
  text-align: center;
  margin: 3% 3% 3% 5%;
  display: inline-block;
  padding: 1%;
}
.card_box{
  display: flex;
  flex-direction: row;
}

.form{
  border:solid 1px;
  text-align: center;
  margin: 2% 2% 2% 2%;
  display: inline-block;
  padding: 1%;
}

.dropDown{
  border:solid 1px;
  text-align: center;
  margin: 2% 2% 2% 2%;
  display: inline-block;
  padding: 1%;

}